@use '../helper/variable' as color;

@mixin btn {
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 1.0625rem;
}

@mixin nav-btn {
  @include btn;
  color: color.$nav-btn-text-color;
  background-color: color.$nav-btn-bg-color;
}

@mixin layout-btn {
  @include btn;
  width: 6.25rem;
  color: color.$nav-btn-bg-color;
  background-color: color.$layout-bg-color;
}
