@use '../helper' as color;
@use 'btn' as btn;

.card {
  display: flex;
  flex-direction: column;
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 1.0625rem;
  background-color: color.$card-bg-color;
  color: color.$card-text-color;
  font-weight: bold;

  & h2 {
    margin: 0.625rem 0 0.625rem 0;
    font-size: 1.5rem;
  }
  & span {
    display: inline-block;
    margin-top: 8px;
  }

  button {
    @include btn.layout-btn;

    &.detail {
      background-color: color.$btn-bg-detail-color;
      color: color.$btn-text-detail-color;
    }

    &.edit {
      background-color: color.$btn-bg-edit-color;
      color: color.$btn-text-edit-color;
    }

    &.delete {
      background-color: color.$btn-bg-close-color;
      color: color.$btn-text-close-color;
    }
  }
}
