@use '../../helper/variable' as color;
@use '../btn' as btn;

.nav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  margin: 0.625rem;
  border-radius: 0.625rem;
  background-color: color.$nav-bg-color;

  & h1 {
    margin: 0.625rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  & button {
    @include btn.nav-btn;
  }
}
