$nav-btn-bg-color: #a0c3d2;
$nav-btn-text-color: #244f7b;
$nav-bg-color: #eadfda;

$layout-bg-color: #f8f5e6;

$btn-bg-login-color: #b4cfb0;
$btn-text-login-color: #7a8e7a;
$btn-bg-close-color: #ee6983;
$btn-text-close-color: #941e40;
$btn-bg-signup-color: #8e8e8e;
$btn-text-signup-color: #ffffff;
$btn-bg-detail-color: #f4eeff;
$btn-text-detail-color: #c3bef0;
$btn-bg-edit-color: #e3fdfd;
$btn-text-edit-color: #71c9ce;

$card-bg-color: #f6dfbf;
$card-text-color: #594544;
