$nav-btn-bg-color: #a0c3d2;
$nav-btn-text-color: #244f7b;
$nav-bg-color: #eadfda;
$layout-bg-color: #f8f5e6;

$btn-bg-login-color: #b4cfb0;
$btn-text-login-color: #7a8e7a;
$btn-text-close-color: #ee6983;
$btn-text-close-color: #941e40;
$btn-text-signup-color: #8e8e8e;
$btn-text-signup-color: #ffffff;
